/* Layout.module.css */

/* Default styles for the layout (desktop and larger screens) */
.layoutContainer {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: rgb(30, 9, 63); /* Background color */
}

.content {
  padding-left: 250px; /* Desktop view padding for Sidebar */
  width: 100%;
  max-width: 1024px;
  align-items: center;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;

  background-color: rgb(30, 9, 63);
  color: white;
}

/* Mobile styles */
@media (max-width: 768px) {
  .content {
    padding-left: 0;
    margin-left: 0; /* Remove left margin on mobile */
    margin-bottom: 60px; /* Leave space for BottomBar */
  }
}
